<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API automation suite">
    <test name="API Test">
        <classes>
            <class name="Get_Test"/>
            <class name="Post_Test"/>
            <class name="Put_Test"/>
            <class name="Delete_Test"/>
            </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->